/* font configuration */
@font-face {
	font-family: 'poppins';
	src: url(/style/font.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
}

/* icons configuration */
.icons {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 700;
	src: url(/style/icons.woff2) format('woff2');
}

/* default config */
* {
	box-sizing: border-box;
}

html {
	font-family: 'poppins';
	@apply text-xl;

	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}
