@tailwind base;
@tailwind components;
@tailwind utilities;

/*? style reset */
@layer base {
	/* font configuration */
	@font-face {
		font-family: 'poppins';
		src: url(/fonts/font.woff2) format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	/* icons configuration */
	.icons {
		font-family: 'Material Symbols Rounded';
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}

	@font-face {
		font-family: 'Material Symbols Rounded';
		font-style: normal;
		font-weight: 700;
		src: url(/fonts/icons.woff2) format('woff2');
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'poppins';
		@apply scroll-smooth;
	}

	::-webkit-scrollbar {
		@apply hidden;
	}
}

@layer components {
	.btn-white {
		@apply border-2 px-3 py-3 text-center text-xl font-bold text-white sm:px-5 sm:text-2xl;

		transition-property: box-shadow background;
		transition-duration: 0.4s;
		transition-timing-function: ease;
	}

	.btn-white:hover {
		@apply border-2 border-accent bg-white text-accent;
		box-shadow: 5px 5px white;
	}

	.btn-black {
		@apply border-2 border-white bg-accent px-5 py-3 text-2xl font-bold text-white;
		transition-property: box-shadow background;
		transition-duration: 0.4s;
		transition-timing-function: ease;
	}

	.btn-black:hover {
		@apply border-accent bg-white text-accent;
		box-shadow: 5px 5px #10101a;
	}

	/*? animation on scroll */
	:is([data-visible='false']) {
		transform: translateY(-80%);
		opacity: 0;
	}

	:is([data-visible='true']) {
		animation-name: scrollAnimation;
		animation-duration: 0.5s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}

	@keyframes scrollAnimation {
		0% {
			opacity: 0;
			transform: translateY(-80%);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	/*? text animation */
	:is([data-animation='text']) {
		background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		padding: 4px 0px;
		background-size: 500% auto;

		animation: textAnimation 3s ease-in-out infinite alternate;
	}

	@keyframes textAnimation {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
}
